version: "2"

services:
  db:
    environment:
      - MYSQL_ROOT_PASSWORD={{mysql_root_password}}

  sse:
    environment:
      - VIRTUAL_HOST={{stream_virtual_host}}
      - LETSENCRYPT_HOST={{stream_virtual_host}}
      - LETSENCRYPT_EMAIL={{letsencrylt_email}}

  worker:
    image: registry.it-expert.com.ua/nexus/it-service:{{build_env}}
  worker-schedule:
    image: registry.it-expert.com.ua/nexus/it-service:{{build_env}}

  search:
    environment:
      - SPHINX_ENV={{sphinx_env}}

  web:
    image: registry.it-expert.com.ua/nexus/it-service:{{build_env}}
    ports:
      - "3000:3000"
    volumes:
      - ./uploads:/app/public/uploads
    environment:
      - VIRTUAL_HOST={{web_virtual_host}}
      - HTTPS_METHOD=noredirect
      - LETSENCRYPT_HOST={{web_virtual_host}}
      - LETSENCRYPT_EMAIL={{letsencrylt_email}}
      - STREAM_API={{stream_api}}
